@import "./common/global.scss";

.allService {
	background-color: $backgroundColor;
	width: 100%;
	ul {
		margin: 20px;
	}
	li {
		background-color: #fff;
		width: 350px;
		height: 260px;
		margin: 20px 10px;
		float: left;
		.title {
			height: 85px;
			padding: 30px;
			font-size: 24px;
			color: #101010;
		}
		.box {
			margin: 0 20px;
			height: 68px;
			display: flex;
			align-content: center;
			align-items: center;
			.icon {
				width: 32px;
				height: 32px;
				margin-left: 10px;
			}
			.content {
				display: inline-block;
				margin: 5px 40px 5px 15px;
				.name {
					font-size: 20px;
					color: #101010;
				}
				.desc {
					font-size: 16px;
					color: #4d4e4c;

				}
			}
		}
		.box:hover {
			background-color: $backgroundColor;
			cursor: pointer;
		}
	}

}

