@charset "utf-8";
@import 'common/global';

.app {
    height: 100%;
}

.home-page {
    height: 100%;
    display: flex;
    .main {
        height: calc(100% - 60px);
        //overflow: auto;
        background: #2b292a;
        display: flex;
    }
    .manage {
        width: 100%;
        height: 42px;
        background: #019bfd;
        padding-left: 208px;
        color: #fff;
        font-size: 15px;
        line-height: 42px;
    }
    .content {
        height: 940px;
        width: 1659px;
    }

}

.header {
    display: flex;
    height: 6%;
    padding: 0;
    min-height: 36px;
    //max-height: 60px;
    background: $header !important;
    position: relative;
    .logoContainer {
        height: 100%;
        width: 11.2%;
        order: 1;
        .logo {
            width: 100%;
            height: 100%;
            //margin-top: 13px;
            //margin-left: 18px;
        }
        .logo-text {
            color: #fff;
            font-size: 2.4rem;
            margin-left: 5px;
            margin-right: 40px;
        }
    }
    .header-content {
        margin-left: 58px;
        height: 100%;
        order: 2;
        .header-menu {
            display: flex;
            background: $header !important;
            border-bottom-color: $header !important;
            //line-height: 60px !important;
            height: 100%;

        }
        a {
            font-size: 1.6rem;
            color: #fff!important;
            width: 100%;
        }

    }
    .loginout {
        position: absolute;
        right: 0px;
        display: flex;
        align-items: center;
        height: 100%;
        & a {
            color: #fff;
        }
    }
    .region {
        position: absolute;
        right: 60px;
        height: 50px;
        line-height: 50px;
    }
}

:global {
    .header-content {
        width: 50%;
        .ant-menu {
            width: 100%;
            justify-content: space-between;
            .ant-menu-item {
                display: flex;
                align-items: center;
                min-width: 40px;
            }
            .ant-menu-item-active {
                background: #2e2e2e !important;
            }
        }
        .ant-menu-item-selected{
            background: none!important;
            a {
                color: #019bfd!important;
            }
        }
    }
}


:global {
}

.task-title {
    @include flexbox(justify, space-between, center, center);
}

.task-container {
    width: 364px;
}

.tooltip-custom {
    .ant-tooltip-content {
    }
}
