@import "./common/global.scss";
.diskContent{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.cloudVPC{
  flex: 1;
  padding: 28px 40px 0 40px;
  display: flex;
  flex-direction: column;
  .btns{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .choice{
      display: flex;
    }
  }
  .btns1{
    margin-bottom: 20px;
  }
  .tableList{
    flex: 1;
  }
}
.box{
  position: relative;
  background: #e8e8e8;
  height: 100%;
}
.createVPC{
  padding: 30px 30px 0 30px ;
  .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  h3{
    font-size:26px;
    margin-bottom: 10px;
  }
  .content{
    background: #fff;
    //padding: 20px;
    .rows{
      padding:20px 0 20px 20px;
      border-bottom: 1px solid #E0E0E0;
    }
    .pattern,.pattern1{
      display: flex;
      font-size: 14px;

      p{
        width: 170px;
        line-height: 82px;
      }
      .btn{
        display: inline-block;
        background:#4382d0 ;
        color: #fff;
        height: 32px;
        width: 124px;
        line-height: 32px;
        text-align: center;
        margin-top: 30px;
      }
    }
    .pattern{
      height: 82px;
      padding-left: 20px;
      border-bottom: 1px solid #E0E0E0;
    }
    .canUse{
      height: 90px;
      font-size: 14px;
      p{
        width: 170px;
        display: inline-block;
      }
      .btn{
        margin:20px 0 0 170px;
        background:#4382d0 ;
        color: #fff;
        height: 32px;
        width: 124px;
        line-height: 32px;
        text-align: center;
      }
    }
    .btnStyle{
      display: flex;
      margin-bottom: 20px;
      p{
        font-size: 14px;
        width: 170px;
      }
    }
    .times{
      display: flex;
      padding:50px 0;
      p{
        font-size: 14px;
        width: 170px;
      }
    }
  }
}
.footer{
  height: 100px;
  background: #fff;
  border-top: 1px solid #E0E0E0;
  position: fixed;
  width:calc(100% - 240px);
  bottom: 0;
  padding: 30px;
  p{
    color: #999;
    font-size: 12px;
  }
  .buyBtn{
    display: flex;
    justify-content: space-between;
    p{
      font-size: 14px;
      color: rgba(0, 0, 0, 0.85);
      span{
        font-size: 20px;
        color: #ef9034;
        font-weight: bolder;
      }
    }
  }
}
.detail{
  font-size: 14px;
  .header{
    padding: 30px;
    border-bottom: 1px solid #E0E0E0;
    span{
      font-weight: bolder;
    }
  }
  .detailContent{
    padding: 30px;
  }
  .monitor{
    padding: 0 30px 30px 30px;
    h3{
      padding-bottom: 20px;
      border-bottom: 1px solid #E0E0E0;
    }
    .btns{

    }
  }

}
:global{
  .tableList{
    table{
        td{
          span{
            cursor: pointer;
            color:#1664c5 ;
            font-size: 13px;
          }
          //span:hover{
          //  color:#1664c5 ;
          //}
          .ant-btn{
            background: none!important;
            margin:0!important;
            padding: 0!important;
          }
          .ant-btn[disabled]{
            span{
              color: #8b8b8b!important;
            }
          }
        }
    }
  }
  .btns,.btns1{
    .ant-btn{
      width: 70px;
      height: 32px!important;
      margin: 0!important;

    }
    .ant-btn[disabled]{
      background: #f0f0f0!important;
      color: #8b8b8b!important;
      border: 2px solid #c6c6c6!important;
    }
    .ant-select:nth-child(1){
      margin-right: 10px;
      .ant-select-selection{
        width: 140px;
        height: 30px;
      }
    }
    .ant-select:nth-child(2){
      .ant-select-selection{
        width: 100px;
        height: 30px;
      }
    }
    .ant-input-search{
      width: 150px;
      height: 30px;
    }
    .choice{
      .ant-btn{
        width: 32px;
        height: 30px!important;
        margin-left: 15px!important;
        background: #fff!important;
        border: 1px solid #c6c6c6!important;
        color: #999!important;
      }
    }

  }
  .rows,.pattern{
    .ant-btn{
      background:#4382d0!important;
      padding: 0 20px;
      height: 32px!important;
      margin-top: 30px;
    }
    .ant-col-4{
      width: 170px;
    }
  }
  .numIput{
    .ant-btn{
      margin: 0!important;
      background:#fff!important;
      color: #666!important;
      border: 1px solid #E0E0E0!important;
    }
    .ant-input-number{
      margin:0!important;
      height: 33px;
      padding-top: 2px;
      .ant-input-number-input{
        height: 29px;
      }
      .ant-input-number-handler-wrap{
        display: none;
      }
    }
  }
  .times{
    .ant-slider{
      width: 70%;
    }
  }
  .buyBtn{
    .ant-btn{
      margin: 0!important;
      width: 136px;
      height: 44px;
    }
  }
  .balance{
    table >thead >tr >th:last-child{
      width: 150px!important;
    }
    table >tbody >tr >td:last-child{
      width: 150px!important;
    }
  }
  .balance1{
    table >thead >tr >th:last-child{
      width: 180px!important;
    }
    table >tbody >tr >td:last-child{
      width: 180px!important;
    }

  }
  .detailContent{
    .ant-row{
      line-height: 32px;
      padding: 10px 0;
      .ant-col-3{
        color: #999;
      }
    }
  }
  .addBtn{
    padding: 30px 0;
    .ant-btn{
      width: 112px!important;
      height: 32px!important;
      background: none!important;
      border: 1px solid #E0E0E0!important;
      color: #191919!important;
      margin:0!important;
    }
    .ant-btn:hover{
      border: 1px solid #4382d0!important;
    }
  }
  .port{
    display: flex;
    .ant-col-7{
      width: 180px;
    }
    .ant-col-10{
      width: 80px;
    }
  }
  .backend{
    .ant-btn{
      width: 98px!important;
      height: 32px!important;
      background: none!important;
      border: 1px solid #E0E0E0!important;
      color: #191919!important;
      margin:0 10px 16px 0!important;
      font-size: 14px!important;
    }
    .ant-tabs-content{
      padding: 0 20px;
    }
    .ant-btn[disabled]{
      background: #f0f0f0!important;
      color: #8b8b8b!important;
      border: 2px solid #c6c6c6!important;
    }
  }
  .bindDisk{
    .ant-table{
      table >tbody >tr >td{
        padding: 16px 8px!important;
      }
    }

  }
  .editVPC{
    .ant-row{
      display: flex;
      flex-direction: column;
    }
  }
}