@import "./common/global.scss";

.cloudHostPortal {
	background-color: $backgroundColor;
	height: 100%;
	width: 100%;
	display: flex;
	flex: 1;
	.left {
		background-color: $backgroundColor !important;
		.logo {
			width: 76px;
			height: 60px;
			position: relative;
			left: 50%;
			margin: 20px 0 0 -28px;
		}
		.logoText {
			font-size: 1.8rem;
			margin: 15px 0 30px 68px;
		}
		.navLeftMenu {
			background-color: $backgroundColor !important;
			border-bottom-color: $backgroundColor !important;
			li {
				width: 100%;
				clear: both;
				a {
					font-size: 20px;
					color: #50514f;
				}

			}
			li:hover {
				background-color: #fff !important;
			}
		}

	}
	.cloudHostContent {
		height: 100%;
		//overflow-y: hidden;
		background-color: #fff;
	}
}

:global{
	.hostTable{
		height: 100% !important;
		table >thead >tr >th:last-child{
			@include responsive(medium-screens) {
				width: 130px!important;
			}
		}
	}
	.cloudHostContent{
		.ant-spin-nested-loading{
			height: 100%;
			.ant-spin-container{
				height: 100%;
			}
		}
	}
}