@charset "utf-8";
@import 'global.scss';

:global {
	body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, p, blockquote, th, td {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		//color: #191919;
	}
	html {
		font-family: $fontFamily;
		font-size: 62.5%; // 10÷16=62.5%
		overflow: hidden;
	}
	body {
		font-size: 1.4rem;
		color: #191919 !important;
		font-family: $fontFamily;
	}
	//font
	.font14 {
		font-size: 1.4rem;
		color: #fff;
	}
	.font14-Active {
		font-size: 1.4rem;
		color: #0582d6;
	}
	.font15 {
		font-size: 1.5rem;
		color: #ffffff;
	}
	.font16 {
		font-size: 1.6rem;
		color: #ffffff;
	}
	.font15-Active {
		font-size: 1.5rem;
		color: #0582d6;
	}
	.font18 {
		font-size: 1.8rem;
		color: #ffffff;
	}
	.font18-active {
		font-size: 1.8rem;
		color: #0582d6;
	}
	.font30 {
		font-size: 3.0rem;
		color: #ffffff;
	}
	.font30-active {
		font-size: 3.0rem;
		color: #0582d6;
	}

	#root {
		height: 100%;
	}
}

:global {
	.ant-layout-header {
		height: 50px !important;
		min-height: 40px;
		padding: 0 !important;
		line-height: 50px!important;
	}
}



:global {
	.ant-form-item-label {
		text-align: left !important;
		label {
			font-size: 14px !important;
		}
	}
	.has-error {
		flex-direction: column;
	}

	.ant-form-item-required:before {
		margin-right: 0 !important;
		position: absolute;
		right: 17px;
		top: 25%;
	}
	.ant-form-item-label label:after {
		margin: 0 8px 0 14px !important;
	}

}

:global {
	.pace-progressbar {
		display: none;
		z-index: 99999999;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .1);
	}
}


:global {
	#scroll-box {
		.ant-spin-nested-loading {
			height: 100%;
			.ant-spin-container {
				height: 100%;
				.ant-table {
					height: 100%;
					.ant-table-content {
						height: 100%;
						.ant-table-scroll {
							height: 100%;
							overflow: hidden;
							.ant-table-body {
								//height: calc(100% - 100px)

							}
						}
					}
				}
			}
		}
	}

	.my-slider .ant-menu-item-selected {
		border-left: solid 4px #4281d0 !important;
		background-color: #fff !important;
	}

	.panel {
		height: 100%;
	}
	.panel-header {
		height: 136px;
		//margin: 30px;
		padding: 0 40px;
		border-bottom: 1px solid #e1e1e1;
	}
	.panel-title {
		display: inline-block;
		line-height: 136px;
		font-size: 22px;

	}
	.panel-button {
		display: inline-block;
		float: right;
		margin-top: 42px;
	}
	.helpIcon {
		vertical-align: middle;
		margin-left: 5px;
		width: 20px;
		height: 20px;
	}
	.panel-operation {
		height: calc(100% - 190px);
		margin: 0 30px 0 30px;
		clear: both;
	}
	.right-buttons {
		//float: right;
		margin-right: 210px;
	}
	.tip-gray {
		color: rgb(153, 153, 153) !important;
	}
}
